<mat-card class="data-card" [class.selected]="selected" (click)="onClick()">

    <mat-card-title class="title">{{ title | translate }}</mat-card-title>

    <mat-card-content>
        @if (data.img) {
        <img [src]="data.img" width="200" height="120" loading="lazy" sizes="200px" alt="">
        } @else if (dataIsPlayer) {
        <img src="images/unknown.jpg" width="200" height="120" loading="lazy" sizes="200px" alt="">
        }
        @if (hasText(data)) {
        <p>{{ data.description | translate }}</p>
        }

    </mat-card-content>
</mat-card>