.mat-mdc-mini-fab {
    width: 24px;
    height: 24px;
    background-color: var(--text-primary);
    color: var(--text-secondary);
}

.mat-mdc-icon-button .mat-icon {
    font-size: 35px !important;
    overflow: visible;
}