<app-title title="reveal"></app-title>
<div class="body-container">
    <mat-card>

        <mat-card-title>
            <h2>{{ currentPlayerName }}</h2>
        </mat-card-title>

        <mat-card-content class="content">
            <div class="reveal-wrapper">

                <!-- TEXTO REVELADO -->
                <div class="hidden-word" [style.color]="isImpostor ? '#8b0000' : '#1a8cd8'">
                    {{ isImpostor ? 'IMPOSTOR' : ('words.' + gameStateService.game.word | translate) }}
                </div>

                <!-- CARD DESLIZABLE -->
                <mat-card cdkDrag cdkDragLockAxis="y" (cdkDragEnded)=" onDragEnd($event)" class="cover-card">
                    <mat-card-content>
                        {{ 'swipeUp' | translate}}
                    </mat-card-content>
                </mat-card>

            </div>
        </mat-card-content>
    </mat-card>

    @if (revealed) {
    @if (gameStateService.isLastPlayer()) {
    <app-button label="play" variant="filled" (action)="play()"></app-button>
    } @else {
    <app-button label="nextPlayer" variant="filled" (action)="next()"></app-button>
    }
    }
</div>