<app-title title="reveal"></app-title>
<div class="body-container adjust-card-container">
    <mat-card>

        <mat-card-title>
            <h2>{{ currentPlayerName() }}</h2>
        </mat-card-title>

        <mat-card-content class="content">
            <div class="reveal-wrapper">

                <!-- TEXTO REVELADO -->
                <div class="hidden-word">
                    <div [class.civilian-word]="!isImpostor()" [class.impostor-word]="isImpostor()">{{ isImpostor() ?
                        'IMPOSTOR' : displayedWord }}</div>
                    @switch (hintType) {
                    @case ('first') {
                    @if (isImpostor() && isFirstPlayer()) {
                    <div class="hint">{{ 'hint' | translate}}: {{ currentHint }}</div>
                    }
                    }
                    @case ('all') {
                    @if (isImpostor()) {
                    <div class="hint">{{ 'hint' | translate}}: {{ currentHint }}</div>
                    }
                    }
                    }
                </div>

                <!-- CARD DESLIZABLE -->
                <mat-card cdkDrag cdkDragLockAxis="y" (cdkDragEnded)=" onDragEnd($event)" class="cover-card">
                    <mat-card-content>
                        {{ 'swipeUp' | translate}}
                    </mat-card-content>
                </mat-card>

            </div>
        </mat-card-content>
    </mat-card>

    @if (revealed()) {
    @if (isLastPlayer()) {
    <app-button label="play" variant="filled" (action)="play()"></app-button>
    } @else {
    <app-button label="nextPlayer" variant="filled" (action)="next()"></app-button>
    }
    }
</div>