.round-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.big-counter {
    font-size: 6rem;
    font-weight: 700;
}

.play-text {
    font-size: 2.5rem;
}