<div class="body-container">
    <div class="header">
        <h1 class="title">Vota por el impostor</h1>
        <p class="subtitle">Elige a la persona que crees que es el impostor</p>
    </div>

    <div class="card-grid">
        @for (player of players; track player.position) {
        @if (!player.isDead) {
        <app-data-card [data]="player" (clicked)="selectPlayer(player.position)"
            [selected]="player.position === selectedPlayer"></app-data-card>
        }
        }
    </div>

    <app-button label="Votar" (action)="submitVote()" size="large" [disabled]="!selectedPlayer"></app-button>
</div>