.player {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}